.navmenu nav {
    display: flex;
    padding: 0px 15px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 5px;
    z-index: 9999;

    .serachBox {
        display: flex;
        gap: 10px;

        img {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        .searchbutton {
            width: 40px;
            height: 40px;
            padding: 0px;
            border: none;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            svg {
                transform: translate(17%, 17%);
            }
        }
    }


    .buts {
        display: flex;
        gap: 15px;
        align-items: center;

        button {
            border: none;
            border-radius: 50%;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

.links {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
    transform: translateX(10%);

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
        max-width: 70px;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.navmenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    top: 0px;
}

.linksbottom {
    display: none;
    align-items: center;
    gap: 15px;
    width: 100%;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        max-width: 70px;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

@media (max-width: 1045px) {
    .navmenu nav{
        padding: 15px;
    }
    .links {
        display: none;
    }

    .linksbottom {
        display: flex;
    }
}

@media (max-width: 900px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        gap: 10px;
        padding: 10px;
    }

    .serachBox,
    .buts {
        width: 100%;
        justify-content: space-between;
    }
}