.UserPageMain {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coverPhoto {
    width: 100%;
    height: min(58vh, 480px);
    background-color: #f2f4f7;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
}

.coverPhoto:hover:not(:has(.coverPhotoBottom:hover)) {
    background-color: #dedede;
}

.coverPhotoBottom {
    cursor: default;
    height: 68px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 32px;
}

.addCoverPhoto {
    background-color: white;
    cursor: pointer;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
}

.addCoverPhoto span {
    color: #080809;
    font-size: 15px;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .coverPhoto {
        height: 200px;
        border-radius: 0;
    }

    .addCoverPhoto span {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .addCoverPhoto {
        display: none;
    }
}